// Big-picture page layout.

html {
  height: 100%;

  // The viewport width changes slightly if there's a scrollbar or now,
  // causing the layout to shift when navigating between long and short
  // pages. There are a few ways to try to deal with this, but here I
  // just force there to always be a scrollbar.
  overflow-y: scroll;
}

body {
  margin: 0;
  height: 100%;
}

.maxwidth {
  max-width: $max-content-width;
  padding: 0 12px;
  margin: 0 auto;
}

.content {
  width: 100%;
  margin-top: 1rem;
}

footer {
  width: 100%;
  margin-top: 4rem;
  padding-top: 0.3rem;
}
