// SASS variables, mixins, etc.

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@font-face {
  font-family: "UniversLTPro";
  src: url("/assets/39762C_0_0.eot?#iefix") format("embedded-opentype"), url("/assets/39762C_0_0.woff2") format("woff2"), url("/assets/39762C_0_0.woff") format("woff"), url("/assets/39762C_0_0.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "UniversLTPro";
  src: url("/assets/39762C_2_0.eot?#iefix") format("embedded-opentype"), url("/assets/39762C_2_0.woff2") format("woff2"), url("/assets/39762C_2_0.woff") format("woff"), url("/assets/39762C_2_0.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

// Breakpoints for responsive CSS media queries. For reference, Boostrap uses:
//
// extra-small  < 576px  <~26em  smartphone in portrait
// small        < 768px  <~35em  smartphone, landscape
// medium       < 992px  <~45em  tablet (portrait?)
// large        <1200px  <~55em  reasonable desktop
// extra-large  >1200px  >~55em  large desktop
//
// (Here, the "em" measurements use our adopted fiducial conversion of 1em =
// 22px; see below.) But we don't care about such fine gradations, so we keep
// it more reasonable.

$break-small: 36em;

// Top-level setup

html {
  height: 100%;

  // Default font sizes are too small, I think. At a standard 1em = 16px,
  // 1.375em becomes 22px.
  font-size: 1.375em;
  font-family: "UniversLTPro";

  // The viewport width changes slightly if there's a scrollbar or now,
  // causing the layout to shift when navigating between long and short
  // pages. There are a few ways to try to deal with this, but here I
  // just force there to always be a scrollbar.
  overflow-y: scroll;
}

body {
  margin: 0;
  height: 100%;
  line-height: 1.6;

  background: #0a0429;
  color: #f0f0f0;
}

// Styling for generic Markdown. I want Markdown-derived HTML to look
// reasonable without any extra futzing or applying CSS classes, so these
// rules try to set up a nice, coherent appearance that will work well in a
// variety of contexts.

p {
  // Note use of "em" units here.
  margin: 0.3em 0 1em 0;
}

img {
  max-width: 100%;
}

li {
  margin: 0.3rem 0 0.3rem 0;
}

pre {
  font-size: 70%;
  padding: 0.2rem;

  @media screen and (max-width: $break-small) {
    font-size: 50%;
    padding: 0.1rem;
  }
}

blockquote {
  font-size: 85%;
  font-family: "Noto Sans";
}

hr {
  margin: 1rem 2rem;
}

a {
  color: #e0e3f4;

  &:hover {
    color: #fefefe;
  }
}

a.noul {
  text-decoration: none;
}

.page-title {
  font-size: 150%;
  font-weight: 700;
  line-height: 1;
  margin: 0 0 1.2rem 0;
}

h1 {
  // Keep this smaller than `.page-title`
  font-size: 125%;
  margin: 1.2rem 0 1rem 0;
}

h2 {
  // Looks like we need to manually specify these font sizes to cascade down
  // relative to h1.
  font-size: 110%;
  margin: 1.2rem 0 1rem 0;
}

h3, h4, h5, h6 {
  // Todo: use techniques other than font-sizing to distinguish h4 and below
  // from h3.
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

// Additional generic rules, for figures. Using `table` and `table-caption`
// for display types makes it so that the caption never becomes wider than the
// figure.

figure {
  display: table;
  margin: 1.5rem auto 1.5rem auto;
  max-width: 100%;

  img {
    max-width: 100%;
    margin: 0;
  }
}

figcaption {
  display: table-caption;
  caption-side: bottom;
  font-size: 70%;
  font-style: italic;
  margin-top: 0.2rem;
}

// Page layout. Thus far, this has ended up being extremely simple! Yay.

.maxwidth {
  max-width: 42rem;
  padding: 0 8px;
  margin-left: auto;
  margin-right: auto;
}

// Header.

header {
  background: #10043e;
  border-bottom: 1px solid #222;

  nav {
    display: flex;
    flex-flow: row nowrap;

    div {
      display: flex;
      flex-basis: auto;
      flex-grow: 1;
      align-items: center;

      ul {
        list-style: none;
        flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        margin: 0 0 0 auto;
        padding: 0;

        li {
          margin: 0 0.2rem;
          font-weight: 700;
        }
      }
    }
  }
}

.header-logo-lg {
  display: block;
  width: 260px;
  margin: 8px 0;

  @media screen and (max-width: $break-small) {
    display: none;
  }
}

.header-logo-sm {
  display: none;
  margin: 8px 0;

  @media screen and (max-width: $break-small) {
    display: block;
  }
}

// The universal footer. The structure is `footer > div.maxwidth > p`.

footer {
  width: 100%;
  clear: both;
  font-size: 60%;
  margin: 2rem 0 0 0;

  div.maxwidth {
    border-top: 1px solid #222;
    padding: 0.3rem 8px;
  }

  p {
    margin: 0;
  }
}

// The main content area of each page. In an inversion of most of the rest of
// the elements, the structure is `div.maxwidth > div.content`.

div.content {
  width: 100%;
  margin-top: 1rem;

  // This line-height is very generous, but the W3C apparently recommends a
  // value at least this large for body text for accessibility reasons.
  line-height: 1.5;
}

// We configure Zola to insert anchor links for headers in the Markdown.
// These show up as `a.zola-anchor` tags inside the <hN> tag to the left
// of the header text.

a.zola-anchor {
  visibility: hidden;
  text-decoration: none;
  font-size: 80%;
  margin-left: 0.2em; // note: intentionally `em` here
}

h1:hover a.zola-anchor,
h2:hover a.zola-anchor,
h3:hover a.zola-anchor,
h4:hover a.zola-anchor,
h5:hover a.zola-anchor,
h6:hover a.zola-anchor {
  visibility: visible;
}

// Hero image on the main landing page

div.hero {
  background-image: url("/assets/img19028-cropped.jpg");
  background-size: cover;
  background-position: top right;
  font-size: 1.5em;

  div.maxwidth {
    position: relative; // to allow the button positioning

    p {
      padding: 1rem 0;
    }

    .button {
      position: absolute;
      bottom: 0.4rem;
      right: 0.4rem;
      padding: 0.2rem 0.3rem;
      border: double #fff 2px;
      font-size: 50%;
      font-weight: 700;

      @include border-radius(4px);

      &:hover {
        background: #Fc2151;
      }
    }
  }
}
