@charset "utf-8";
@import "normalize";

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// Parameters of the layout. In `typography` we set 1 rem = 22 px.

$max-content-width: 792px; // =36rem
$breakpoint: 750px;

$background-color: #0a0429;
$foreground-color: #f0f0f0;
$text-link-color: #e0e3f4;
$text-link-hover-color: #fefefe;
$header-bg-color: #10043e;
$edge-color: #222;
$overlay-edge-color: #3c278c;

$card-edge-color: #e3e176;
$card-button-color: #77089c;
$card-button-link-color: #f0f0f0;
$card-button-link-hover-color: #ffffff;

@import "typography";
@import "content";
@import "layout";
@import "chrome";
@import "specials";
