@charset "utf-8";
@import "normalize";

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// Parameters of the layout. In `typography` we set 1 rem = 22 px.

$max-content-width: 792px; // =36rem
$breakpoint: 750px;

$background-color: #0a0429;
$foreground-color: #f0f0f0;
$muted-color: #909090;
$muted-link-color: #c0c0c0;
$muted-link-hover-color: #f0f0f0;
$text-link-color: #f7f7b0;
$text-link-hover-color: #f7f7b0;
$header-bg-color: #10043e;
$edge-color: #444;
$overlay-edge-color: #3c278c;

$card-edge-color: #e3e176;
$card-button-color: #77089c;
$card-button-link-color: #ebebeb;
$card-button-link-hover-color: #ffffff;

@import "typography";
@import "content";
@import "layout";
@import "chrome";
@import "specials";
