{%- import "macros.html" as macros -%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>{% block title %}AAS WorldWide Telescope{% endblock title %}</title>
    <link rel="stylesheet" href="{{ get_url(path="sanitize.css") | safe }}">
    <link rel="stylesheet" href="{{ get_url(path="style.css") | safe }}">
    <!--[if IE]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    {% block extra_head %}
    {% endblock extra_head %}
  </head>

  <body>
    <header>
      <nav class="maxwidth">
        <a href="{{ get_url(path="", trailing_slash=true) | safe }}">
          <img class="header-logo-lg" src="{{ get_url(path='assets/stacked-logo-white-on-transparent-260x103.png') | safe }}">
          <img class="header-logo-sm" src="{{ get_url(path='assets/wwt-globe.png') | safe }}">
        </a>

        <div>
          <ul>
            <li><a class="noul" href="{{ macros::page_url(path='about.md', trailing_slash=true)}}">About</a></li>
          </ul>
        </div>
      </nav>
    </header>

    {% block override_content %}
    <main class="maxwidth">
      <div class="content">
        {% block content %}
        {% endblock content %}
      </div>
    </main>
    {% endblock override_content %}

    <footer>
      <div class="maxwidth">
        <p>Copyright {{ now() | date(format="%Y") }} AAS. Site generated
          with <a href="https://www.getzola.org/">Zola</a>.</p>
      </div>
    </footer>
  </body>
</html>
