{%- import "macros.html" as macros -%}
{# Jumping through hoops to get a relative path to the site root #}
{%- if current_path == "/" -%}
  {%- set_global rel_top = "./" -%}
{%- else -%}
  {%- set_global rel_top_work = [] -%}
  {%- for _ignored in current_path | split(pat="/") | slice(start=1) -%}
    {%- set_global rel_top_work = rel_top_work | concat(with="..") -%}
  {%- endfor -%}
  {%- set_global rel_top = rel_top_work | join(sep="/") -%}
  {%- set_global rel_top = rel_top ~ "/" -%}
{%- endif -%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    {% if config.extra.google_analytics_id %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ config.extra.google_analytics_id }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ config.extra.google_analytics_id }}');
    </script>
    {% endif %}

    <link rel="stylesheet" href="{{ rel_top ~ 'assets/fontawesome.min.css' | safe }}">
    <link rel="stylesheet" href="{{ rel_top ~ 'style.css' | safe }}">
    <!--[if IE]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    {% block extra_head %}
    {% endblock extra_head %}
  </head>

  <body>
    <header>
      <nav class="maxwidth">
        <a href="{{ get_url(path="", trailing_slash=true) | safe }}">
          <img class="header-logo-lg" src="{{ get_url(path='assets/stacked-logo-white-on-transparent-260x103.png') | safe }}">
          <img class="header-logo-sm" src="{{ get_url(path='assets/wwt-globe.png') | safe }}">
        </a>

        <div>
          <ul>
            <li><a class="noul" href="{{ macros::page_url(path='About.md', trailing_slash=true)}}">About</a></li>
          </ul>
        </div>
      </nav>
    </header>

    {% block before_main_content %}
    {% endblock before_main_content %}

    <div class="maxwidth">
      <main class="content">
        {% block content %}
        {% endblock content %}
      </main>

      <footer>
        <p>Copyright {{ now() | date(format="%Y") }} AAS. Site generated
          with <a href="https://www.getzola.org/">Zola</a>.</p>
      </footer>
    </div>
  </body>
</html>
