{% extends "base.html" %}

{% block full_width_content %}
<div class="hero background-19028">
  <div class="maxwidth">
    <p><b>AAS WorldWide Telescope is a tool for showcasing astronomical data
        and knowledge.</b> It’s not a physical telescope — it’s open-source
      software, data, and stories living on your devices and the Web.</p>

    <div class="button-container">
      <a href="/webclient/">Launch the Web Client!</a>
    </div>
  </div>
</div>
{% endblock full_width_content %}

{% block content %}
{{ page.content | safe }}
{% endblock content %}
