{% extends "base.html" %}

{% block extra_head %}
<link rel="alternate" type="application/rss+xml" title="WWT Feed" href="{{ get_url(path="rss.xml") | safe }}" />
{% endblock extra_head %}

{% block override_content %}

<div class="hero">
  <div class="maxwidth">
    <p><b>AAS WorldWide Telescope is a tool for showcasing astronomical data
        and knowledge.</b> It’s not a physical telescope — it’s open-source
        software, data, and stories living on your devices and the Web.</p>
  </div>
</div>

<main class="maxwidth">
  <p>WWT is brought to you by the
    non-profit <a href="https://aas.org/">American Astronomical Society</a>
    (AAS), the major organization of professional astronomers in North America
    and the publisher of <a href="https://skyandtelescope.org/">Sky &amp;
    Telescope</a> magazine. WWT’s hosting is supported by
    the <a href="https://dotnetfoundation.org/">.NET Foundation</a> and the
    WWT project has been supported by
    the <a href="https://www.nsf.gov/">National Science Foundation</a>,
    the <a href="https://www.moore.org/">Gordon and Betty Moore
    Foundation</a>,
    and <a href="https://www.microsoft.com/">Microsoft</a>.</p>
</main>

{% endblock override_content %}
