@{
	Layout = "~/Views/Shared/_ContentPage.cshtml";
}
@section leftnav{
	<li class="active"><a href="javascript:void(0)">Terms of Use</a></li>
}
<a name="top"></a>
<h1>
	WorldWide Telescope Terms of Use  
</h1>

<p>
Updated: February 20, 2008 
</p>  
<br><br>  
<h4>IMPORTANT &ndash; READ CAREFULLY: </h4> 

<div class="title6">Please be sure to carefully read and understand all the rights and restrictions in the WorldWide Telescope Terms of Use (“TOU”) and WorldWide Telescope Privacy Statement (“Privacy Statement”).  
</div>

<ul>
	<li><a href="#t1">ACCEPTANCE OF TERMS.</a></li>
	<li><a href="#t2">DESCRIPTION OF SERVICES. </a></li>
	<li><a href="#t3">PERSONAL AND NON-COMMERCIAL USE LIMITATION. </a></li>
	<li><a href="#t4">PRIVACY AND PROTECTION OF PERSONAL INFORMATION.</a></li>
	<li><a href="#t5">NOTICE SPECIFIC TO SOFTWARE AVAILABLE ON THIS WEB SITE.</a></li>
	<li><a href="#t6">NOTICE SPECIFIC TO DOCUMENTS AVAILABLE ON THIS WEB SITE.</a></li>
	<li><a href="#t7">NOTICES REGARDING SOFTWARE, DOCUMENTS AND SERVICES AVAILABLE ON THIS WEB SITE.</a></li>
	<li><a href="#t8">MEMBER ACCOUNT, PASSWORD, AND SECURITY.</a></li>
	<li><a href="#t9">NO UNLAWFUL OR PROHIBITED USE.</a></li>
	<li><a href="#t10">USE OF SERVICES</a></li>
	<li><a href="#t11">MATERIALS PROVIDED TO MICROSOFT OR POSTED AT ANY MICROSOFT WEB SITE.</a></li>
	<li><a href="#t12">NOTICES AND PROCEDURE FOR MAKING CLAIMS OF COPYRIGHT INFRINGEMENT.</a></li>
	<li><a href="#t13">LINKS TO THIRD PARTY SITES.</a></li>
	<li><a href="#t14">UNSOLICITED IDEA SUBMISSION POLICY.</a></li>
	<li><a href="#t15">COPYRIGHT NOTICE &amp; FAQ.</a></li>
	<li><a href="#t16">TRADEMARKS.</a></li>
</ul>
<br><br>
<a name="t1"></a>
<h3>ACCEPTANCE OF TERMS.</h3> 
<p>The services that Microsoft provides to you are subject to the following Terms of Use ("TOU"). Microsoft reserves the right to update the TOU at any time without notice to you. The most current version of the TOU can be reviewed by clicking on the "Terms of Use" hypertext link located at the bottom of the WorldWide Telescope Web page.  </p>

<div><a href="#top">Top of page</a> </div> <br><br> 
<a name="t2"></a>
<h3>DESCRIPTION OF SERVICES.</h3>  
<p>Through its network of Web properties, Microsoft provides you with access to a variety of resources, including developer tools, download areas, communication forums and product information (collectively "Services"). The Services, including any updates, enhancements, new features, and/or the addition of any new Web properties, are subject to the TOU.  
</p><div><a href="#top">Top of page</a> </div> <br><br> 
<a name="t3"></a>
<h3>PERSONAL AND NON-COMMERCIAL USE LIMITATION.</h3>  
<p>Unless otherwise specified, the Services are for your personal and non-commercial use. You may not modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell any information, software, products or services obtained from the Services.  
</p><div><a href="#top">Top of page</a> </div> <br><br> 
<a name="t4"></a>
<h3>PRIVACY AND PROTECTION OF PERSONAL INFORMATION.</h3>
<p>See the Privacy Statement disclosures relating to the collection and use of your information. These disclosures can be reviewed by clicking on the “Privacy Statement” hypertext link located at the bottom of the WorldWide Telescope Web page.  
</p><div><a href="#top">Top of page</a> </div> <br><br> 
<a name="t5"></a>
<h3>NOTICE SPECIFIC TO SOFTWARE AVAILABLE ON THIS WEB SITE.</h3>
<p>Any software that is made available to download from the Services ("Software") is the copyrighted work of Microsoft and/or its suppliers. Use of the Software is governed by the terms of the end user license agreement, if any, which accompanies or is included with the Software ("License Agreement"). An end user will be unable to install any Software that is accompanied by or includes a License Agreement, unless he or she first agrees to the License Agreement terms.
</p><p>The Software is made available for download solely for use by end users according to the License Agreement. Any reproduction or redistribution of the Software not in accordance with the License Agreement is expressly prohibited by law, and may result in severe civil and criminal penalties. Violators will be prosecuted to the maximum extent possible.
</p><p>WITHOUT LIMITING THE FOREGOING, COPYING OR REPRODUCTION OF THE SOFTWARE TO ANY OTHER SERVER OR LOCATION FOR FURTHER REPRODUCTION OR REDISTRIBUTION IS EXPRESSLY PROHIBITED, UNLESS SUCH REPRODUCTION OR REDISTRIBUTION IS EXPRESSLY PERMITTED BY THE LICENSE AGREEMENT ACCOMPANYING SUCH SOFTWARE. 
</p><p>THE SOFTWARE IS WARRANTED, IF AT ALL, ONLY ACCORDING TO THE TERMS OF THE LICENSE AGREEMENT. EXCEPT AS WARRANTED IN THE LICENSE AGREEMENT, MICROSOFT CORPORATION HEREBY DISCLAIMS ALL WARRANTIES AND CONDITIONS WITH REGARD TO THE SOFTWARE, INCLUDING ALL WARRANTIES AND CONDITIONS OF MERCHANTABILITY, WHETHER EXPRESS, IMPLIED OR STATUTORY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT. 
</p><p>FOR YOUR CONVENIENCE, MICROSOFT MAY MAKE AVAILABLE AS PART OF THE SERVICES OR IN ITS SOFTWARE PRODUCTS, TOOLS AND UTILITIES FOR USE AND/OR DOWNLOAD. MICROSOFT DOES NOT MAKE ANY ASSURANCES WITH REGARD TO THE ACCURACY OF THE RESULTS OR OUTPUT THAT DERIVES FROM SUCH USE OF ANY SUCH TOOLS AND UTILITIES. PLEASE RESPECT THE INTELLECTUAL PROPERTY RIGHTS OF OTHERS WHEN USING THE TOOLS AND UTILITIES MADE AVAILABLE ON THE SERVICES OR IN MICROSOFT SOFTWARE PRODUCTS.
</p><p>RESTRICTED RIGHTS LEGEND. Any Software which is downloaded from the Services for or on behalf of the United States of America, its agencies and/or instrumentalities ("U.S. Government"), is provided with Restricted Rights. Use, duplication, or disclosure by the U.S. Government is subject to restrictions as set forth in subparagraph (c)(1)(ii) of the Rights in Technical Data and Computer Software clause at DFARS 252.227-7013 or subparagraphs (c)(1) and (2) of the Commercial Computer Software - Restricted Rights at 48 CFR 52.227-19, as applicable. Manufacturer is Microsoft Corporation, One Microsoft Way, Redmond, WA 98052-6399.  
</p><div><a href="#top">Top of page</a> </div> <br><br> 
<a name="t6"></a>
<h3>NOTICE SPECIFIC TO DOCUMENTS AVAILABLE ON THIS WEB SITE.</h3>
<p>Permission to use Documents (such as white papers, media releases, datasheets and FAQs) from the Services is granted, provided that (1) the below copyright notice appears in all copies and that both the copyright notice and this permission notice appear, (2) use of such Documents from the Services is for informational and non-commercial or personal use only and will not be copied or posted on any network computer or broadcast in any media, and (3) no modifications of any Documents are made. Accredited educational institutions, such as K-12, universities, private/public colleges, and state community colleges, may download and reproduce the Documents for distribution in the classroom. Distribution outside the classroom requires express written permission. Use for any other purpose is expressly prohibited by law, and may result in severe civil and criminal penalties. Violators will be prosecuted to the maximum extent possible. 
</p><p>Documents specified above do not include the design or layout of any Microsoft owned, operated, licensed or controlled site. Elements of Microsoft Web sites are protected by trade dress, trademark, unfair competition, and other laws and may not be copied or imitated in whole or in part. No logo, graphic, sound or image from any Microsoft Web site may be copied or retransmitted unless expressly permitted by Microsoft. 
</p><p>MICROSOFT AND/OR ITS RESPECTIVE SUPPLIERS MAKE NO REPRESENTATIONS ABOUT THE SUITABILITY OF THE INFORMATION CONTAINED IN THE DOCUMENTS AND RELATED GRAPHICS PUBLISHED AS PART OF THE SERVICES FOR ANY PURPOSE. ALL SUCH DOCUMENTS AND RELATED GRAPHICS ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND. MICROSOFT AND/OR ITS RESPECTIVE SUPPLIERS HEREBY DISCLAIM ALL WARRANTIES AND CONDITIONS WITH REGARD TO THIS INFORMATION, INCLUDING ALL WARRANTIES AND CONDITIONS OF MERCHANTABILITY, WHETHER EXPRESS, IMPLIED OR STATUTORY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT. IN NO EVENT SHALL MICROSOFT AND/OR ITS RESPECTIVE SUPPLIERS BE LIABLE FOR ANY SPECIAL, INDIRECT OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF INFORMATION AVAILABLE FROM THE SERVICES. 
</p><p>THE DOCUMENTS AND RELATED GRAPHICS PUBLISHED ON THE SERVICES COULD INCLUDE TECHNICAL INACCURACIES OR TYPOGRAPHICAL ERRORS. CHANGES ARE PERIODICALLY ADDED TO THE INFORMATION HEREIN. MICROSOFT AND/OR ITS RESPECTIVE SUPPLIERS MAY MAKE IMPROVEMENTS AND/OR CHANGES IN THE PRODUCT(S) AND/OR THE PROGRAM(S) DESCRIBED HEREIN AT ANY TIME.  
</p><div><a href="#top">Top of page</a> </div> <br><br> 
<a name="t7"></a>
<h3>NOTICES REGARDING SOFTWARE, DOCUMENTS AND SERVICES AVAILABLE ON THIS WEB SITE.</h3>
<p>IN NO EVENT SHALL MICROSOFT AND/OR ITS RESPECTIVE SUPPLIERS BE LIABLE FOR ANY SPECIAL, INDIRECT OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF SOFTWARE, DOCUMENTS, PROVISION OF OR FAILURE TO PROVIDE SERVICES, OR INFORMATION AVAILABLE FROM THE SERVICES.  
</p><div><a href="#top">Top of page</a> </div> <br><br> 
<a name="t8"></a>
<h3>MEMBER ACCOUNT, PASSWORD, AND SECURITY.</h3>
<p>If any of the Services requires you to open an account, you must complete the registration process by providing us with current, complete and accurate information as prompted by the applicable registration form. You also will choose a password and a user name. You are entirely responsible for maintaining the confidentiality of your password and account. Furthermore, you are entirely responsible for any and all activities that occur under your account. You agree to notify Microsoft immediately of any unauthorized use of your account or any other breach of security. Microsoft will not be liable for any loss that you may incur as a result of someone else using your password or account, either with or without your knowledge. However, you could be held liable for losses incurred by Microsoft or another party due to someone else using your account or password. You may not use anyone else's account at any time, without the permission of the account holder.  
</p><div><a href="#top">Top of page</a> </div> <br><br> 
<a name="t9"></a>
<h3>NO UNLAWFUL OR PROHIBITED USE.</h3>
As a condition of your use of the Services, you will not use the Services for any purpose that is unlawful or prohibited by these terms, conditions, and notices. You may not use the Services in any manner that could damage, disable, overburden, or impair any Microsoft server, or the network(s) connected to any Microsoft server, or interfere with any other party's use and enjoyment of any Services. You may not attempt to gain unauthorized access to any Services, other accounts, computer systems or networks connected to any Microsoft server or to any of the Services, through hacking, password mining or any other means. You may not obtain or attempt to obtain any materials or information through any means not intentionally made available through the Services.  
<div><a href="#top">Top of page</a> </div> <br><br> 
<a name="t101"></a>
<h3>USE OF SERVICES</h3>
<p>The Services may contain e-mail services, bulletin board services, chat areas, news groups, forums, communities, personal web pages, calendars, photo albums, file cabinets and/or other message or communication facilities designed to enable you to communicate with others (each a "Communication Service" and collectively "Communication Services"). You agree to use the Communication Services only to post, send and receive messages and material that are proper and, when applicable, related to the particular Communication Service. By way of example, and not as a limitation, you agree that when using the Communication Services, you will not: 
</p><ul>Use the Communication Services in connection with surveys, contests, pyramid schemes, chain letters, junk email, spamming or any duplicative or unsolicited messages (commercial or otherwise). 
<li>Defame, abuse, harass, stalk, threaten or otherwise violate the legal rights (such as rights of privacy and publicity) of others. 
</li><li>Publish, post, upload, distribute or disseminate any inappropriate, profane, defamatory, obscene, indecent or unlawful topic, name, material or information. 
</li><li>Upload, or otherwise make available, files that contain images, photographs, software or other material protected by intellectual property laws, including, by way of example, and not as limitation, copyright or trademark laws (or by rights of privacy or publicity) unless you own or control the rights thereto or have received all necessary consent to do the same. 
</li><li>Use any material or information, including images or photographs, which are made available through the Services in any manner that infringes any copyright, trademark, patent, trade secret, or other proprietary right of any party. 
</li><li>Upload files that contain viruses, Trojan horses, worms, time bombs, cancelbots, corrupted files, or any other similar software or programs that may damage the operation of another's computer or property of another. 
</li><li>Advertise or offer to sell or buy any goods or services for any business purpose, unless such Communication Services specifically allows such messages. 
</li><li>Download any file posted by another user of a Communication Service that you know, or reasonably should know, cannot be legally reproduced, displayed, performed, and/or distributed in such manner. 
</li><li>Falsify or delete any copyright management information, such as author attributions, legal or other proper notices or proprietary designations or labels of the origin or source of software or other material contained in a file that is uploaded. 
</li><li>Restrict or inhibit any other user from using and enjoying the Communication Services. 
</li><li>Violate any code of conduct or other guidelines which may be applicable for any particular Communication Service. 
</li><li>Harvest or otherwise collect information about others, including e-mail addresses. 
</li><li>Violate any applicable laws or regulations. 
</li><li>Create a false identity for the purpose of misleading others. 
</li><li>Use, download or otherwise copy, or provide (whether or not for a fee) to a person or entity any directory of users of the Services or other user or usage information or any portion thereof. 
</li></ul>

<p>Microsoft has no obligation to monitor the Communication Services. However, Microsoft reserves the right to review materials posted to the Communication Services and to remove any materials in its sole discretion. Microsoft reserves the right to terminate your access to any or all of the Communication Services at any time, without notice, for any reason whatsoever. 
</p><p>Microsoft reserves the right at all times to disclose any information as Microsoft deems necessary to satisfy any applicable law, regulation, legal process or governmental request, or to edit, refuse to post or to remove any information or materials, in whole or in part, in Microsoft's sole discretion. 
</p><p>Always use caution when giving out any personally identifiable information about yourself or your children in any Communication Services. Microsoft does not control or endorse the content, messages or information found in any Communication Services and, therefore, Microsoft specifically disclaims any liability with regard to the Communication Services and any actions resulting from your participation in any Communication Services. Managers and hosts are not authorized Microsoft spokespersons, and their views do not necessarily reflect those of Microsoft. 
</p><p>Materials uploaded to the Communication Services may be subject to posted limitations on usage, reproduction and/or dissemination; you are responsible for adhering to such limitations if you download the materials.  
</p><div><a href="#top">Top of page</a> </div> <br><br> 
<a name="t11"></a>
<h3>MATERIALS PROVIDED TO MICROSOFT OR POSTED AT ANY MICROSOFT WEB SITE.</h3>
<p>Microsoft does not claim ownership of the materials you provide to Microsoft (including feedback and suggestions) or post, upload, input or submit to any Services or its associated services for review by the general public, or by the members of any public or private community, (each a "Submission" and collectively "Submissions"). However, by posting, uploading, inputting, providing or submitting ("Posting") your Submission you are granting Microsoft, its affiliated companies and necessary sublicensees permission to use your Submission in connection with the operation of their Internet businesses (including, without limitation, all Microsoft Services), including, without limitation, the license rights to: copy, distribute, transmit, publicly display, publicly perform, reproduce, edit, translate and reformat your Submission; to publish your name in connection with your Submission; and the right to sublicense such rights to any supplier of the Services. 
</p><p>No compensation will be paid with respect to the use of your Submission, as provided herein. Microsoft is under no obligation to post or use any Submission you may provide and Microsoft may remove any Submission at any time in its sole discretion. 
</p><p>By Posting a Submission you warrant and represent that you own or otherwise control all of the rights to your Submission as described in these Terms of Use including, without limitation, all the rights necessary for you to provide, post, upload, input or submit the Submissions. 
</p><p>In addition to the warranty and representation set forth above, by Posting a Submission that contain images, photographs, pictures or that are otherwise graphical in whole or in part ("Images"), you warrant and represent that (a) you are the copyright owner of such Images, or that the copyright owner of such Images has granted you permission to use such Images or any content and/or images contained in such Images consistent with the manner and purpose of your use and as otherwise permitted by these Terms of Use and the Services, (b) you have the rights necessary to grant the licenses and sublicenses described in these Terms of Use, and (c) that each person depicted in such Images, if any, has provided consent to the use of the Images as set forth in these Terms of Use, including, by way of example, and not as a limitation, the distribution, public display and reproduction of such Images. By Posting Images, you are granting (a) to all members of your private community (for each such Images available to members of such private community), and/or (b) to the general public (for each such Images available anywhere on the Services, other than a private community), permission to use your Images in connection with the use, as permitted by these Terms of Use, of any of the Services, (including, by way of example, and not as a limitation, making prints and gift items which include such Images), and including, without limitation, a non-exclusive, world-wide, royalty-free license to: copy, distribute, transmit, publicly display, publicly perform, reproduce, edit, translate and reformat your Images without having your name attached to such Images, and the right to sublicense such rights to any supplier of the Services. The licenses granted in the preceding sentences for a Images will terminate at the time you completely remove such Images from the Services, provided that, such termination shall not affect any licenses granted in connection with such Images prior to the time you completely remove such Images. No compensation will be paid with respect to the use of your Images.  
</p><div><a href="#top">Top of page</a> </div> <br><br> 
<a name="t12"></a>
<h3>NOTICES AND PROCEDURE FOR MAKING CLAIMS OF COPYRIGHT INFRINGEMENT.</h3>
<p>Pursuant to Title 17, United States Code, Section 512(c)(2), notifications of claimed copyright infringement should be sent to Service Provider's Designated Agent. ALL INQUIRIES NOT RELEVANT TO THE FOLLOWING PROCEDURE WILL NOT RECEIVE A RESPONSE. 
</p><p>See <a href="http://www.microsoft.com/info/cpyrtinfrg.htm">http://www.microsoft.com/info/cpyrtinfrg.htm</a>  
</p><div><a href="#top">Top of page</a> </div> <br><br> 
<a name="t13"></a>
<h3>LINKS TO THIRD PARTY SITES.</h3>
<p>THE LINKS IN THIS AREA WILL LET YOU LEAVE MICROSOFT'S SITE. THE LINKED SITES ARE NOT UNDER THE CONTROL OF MICROSOFT AND MICROSOFT IS NOT RESPONSIBLE FOR THE CONTENTS OF ANY LINKED SITE OR ANY LINK CONTAINED IN A LINKED SITE, OR ANY CHANGES OR UPDATES TO SUCH SITES. MICROSOFT IS NOT RESPONSIBLE FOR WEBCASTING OR ANY OTHER FORM OF TRANSMISSION RECEIVED FROM ANY LINKED SITE. MICROSOFT IS PROVIDING THESE LINKS TO YOU ONLY AS A CONVENIENCE, AND THE INCLUSION OF ANY LINK DOES NOT IMPLY ENDORSEMENT BY MICROSOFT OF THE SITE.  
</p><div><a href="#top">Top of page</a> </div> <br><br> 
<a name="t14"></a>
<h3>UNSOLICITED IDEA SUBMISSION POLICY. </h3>
<p>MICROSOFT OR ANY OF ITS EMPLOYEES DO NOT ACCEPT OR CONSIDER UNSOLICITED IDEAS, INCLUDING IDEAS FOR NEW ADVERTISING CAMPAIGNS, NEW PROMOTIONS, NEW PRODUCTS OR TECHNOLOGIES, PROCESSES, MATERIALS, MARKETING PLANS OR NEW PRODUCT NAMES. PLEASE DO NOT SEND ANY ORIGINAL CREATIVE ARTWORK, SAMPLES, DEMOS, OR OTHER WORKS. THE SOLE PURPOSE OF THIS POLICY IS TO AVOID POTENTIAL MISUNDERSTANDINGS OR DISPUTES WHEN MICROSOFT'S PRODUCTS OR MARKETING STRATEGIES MIGHT SEEM SIMILAR TO IDEAS SUBMITTED TO MICROSOFT. SO, PLEASE DO NOT SEND YOUR UNSOLICITED IDEAS TO MICROSOFT OR ANYONE AT MICROSOFT. IF, DESPITE OUR REQUEST THAT YOU NOT SEND US YOUR IDEAS AND MATERIALS, YOU STILL SEND THEM, PLEASE UNDERSTAND THAT MICROSOFT MAKES NO ASSURANCES THAT YOUR IDEAS AND MATERIALS WILL BE TREATED AS CONFIDENTIAL OR PROPRIETARY.  
</p><div><a href="#top">Top of page</a> </div> <br><br> 
<a name="t15"></a>
<h3>COPYRIGHT NOTICE &amp; FAQ.</h3>
<p>&copy; 2008 Microsoft Corporation. All rights reserved.
</p><p>The following is provided for informational purposes only and should not be construed as legal advice. If you need legal advice, contact a lawyer.  
</p><h4>What is copyright? </h4> 
<p>Copyright law protects original works, such as websites, books, music, paintings, photos and video. A work is “original” if it contains some elements you created and did not borrow from others. Typically, when you create an original work, you own the copyright. As the copyright owner, you can control how others use your work. For example, if you write a movie script, you have the right to, and can prevent others from, copying your script, sharing it with others (“distributing it”), making a movie or book from your script (a “derivative work”), or publicly performing your script as a play or movie. You also have the ability to sell or give away these rights. In other words, you could sell the right to make a movie based on your script to a movie studio. 
</p><p>If you use someone else’s copyrighted materials without permission, that use generally violates the copyright owner's exclusive rights, and is copyright infringement. So if you create a new work and include parts of other people’s works in it (such as an existing photo, lengthy quotes from a book or a loop from a song), you must own or have permission to use the elements you borrow. For example, if your script is based on an existing popular series, you should obtain permission to use the elements you borrow from the series. 
</p><p>Copyright law is different from the law of personal property. If you buy a physical object, such as a movie on DVD, you own the physical object. You do not, however, obtain ownership of the “copyrights” (the rights to make copies, distribute, make derivatives and publicly perform or display) in the content of the movie. The fact that you have obtained physical possession of a DVD does not automatically grant you the right to copy or share it. 
</p><p>If you make your own movie, it may include many copyrighted works in it. So, if you decide to make a movie based on your script, you must either create all elements of it on your own, or have permission to use the elements you borrow. Especially keep in mind that photos or artwork hanging on the walls of your sets and music on the soundtrack (even if you own the CD or MP3) may be copyrighted. You should not include copyrighted works such as these in your movie without authorization. 
</p><p>A few other things to keep in mind are: 
</p><ol>
<li>Just because a work does not include a copyright notice (e.g., &copy; 2006 Microsoft Corporation) does not mean the work is in the public domain. Copyright notices are generally not required for works to be protected by copyright. 
</li><li>Just because a work is easily available on the internet or elsewhere does not mean you may use the work freely. Look for terms of use, such as Creative Commons, that explain how works you find on the Internet may be used. 
</li></ol> 
<br>
<h4>Isn't it in the public domain?</h4>   
<p>Just because a work is freely available, does not mean it is in the “public domain.” Copyright is for a limited term; it does not last forever. In the copyright context, “public domain” means the copyright term has expired. Once a work is in the public domain, it may be freely used without permission from the copyright owner. 
</p><p>Determining the term of copyright can be complex, particularly because copyright laws vary from country to country. Also, even if the copyright on a work has expired, you should be careful about how you use a public domain work. For example, a book may be in the public domain, but it might not be ok to scan the book cover to cover and post it on the internet. This is because the particular version of the book may contain new copyrightable material that is not in the public domain, such as cover art or footnotes.  
</p><h4>What about fair use?</h4>   
<p>In limited situations, you can use copyrighted works without permission from the copyright holder. It can be difficult to figure out whether use of copyrighted works without permission is legal, though, because the laws in this area are often vague and vary from country to country. 
</p><p>The copyright law in the United States has a doctrine called “fair use”. Fair use provides a defense to copyright infringement in some circumstances. For example, fair use allows documentary filmmakers to use very short clips of copyrighted movies, music and news footage without permission from the copyright owner. Fair use is a difficult concept because determining whether something is a fair use involves weighing four factors. Unfortunately, weighing the fair use factors rarely results in a clear-cut answer. 
</p><p>Rather than applying a fair use test, many other countries have specific exceptions to copyright infringement. The number and type of exceptions vary by country, but they frequently allow copyrighted materials to be used without permission from the copyright holder for activities such as nonprofit research, teaching, news reporting, or private study. 
</p><p>If you incorrectly decide that something is a fair use or falls into an exception to copyright infringement, you could be held criminally and civilly liable and have to pay damages. We suggest you talk to a lawyer if you have questions regarding fair uses of copyrighted works.  
</p><h4>What happens if you upload copyrighted materials to one of our websites without permission? </h4> 
<p>By law, we are required to take down videos, music, photographs or other content you upload onto a website hosted by Microsoft if we learn that it infringes someone else’s copyright. If you believe that we have mistakenly taken down content you uploaded that you own or have permission to upload, you can also let us know that. Finally, if you upload infringing content repeatedly, we will terminate your account and you could face criminal and civil penalties. So please, respect other people’s copyrights.  
</p><h4>What if my stuff is on a Microsoft website without my permission? </h4> 
<p>If you believe that anything on a website hosted by Microsoft infringes your copyright, let us know. Just provide us with the information requested here and we will see that your copyrighted works are taken down.  
</p><h4>I want to share my content, but...  </h4> 
<p>Many of our websites and services allow you to share content you create, such as video, music and photographs. Though there is no way for us to ensure that your content will not be misused when you share it online, you may consider making it available under a Creative Commons License. 
</p><p>Creative Commons licenses are a simple way for you to let people know what uses they can make of your creative works and under what conditions. Creative Commons licenses are customizable based on your preferences and are automatically generated through the use of an online form. The form includes questions such as whether your work may be used only for non-commercial purposes and whether the work may be modified. As such, a variety of licenses are possible. For example, an “attribution only” license allows others to make any use of your work as long as they indicate that you are the copyright holder. 
</p><p>Creative Commons is continually developing new licenses tailored to needs identified by creative people like you. To learn more about Creative Commons, or to prepare a Creative Commons license, visit their website (<a href="http://creativecommons.org/" class="reg">http://creativecommons.org/</a>).  
</p><div><a href="#top">Top of page</a> </div> <br><br> 
<a name="t16"></a>
<h3>TRADEMARKS.</h3>
<p>Trademark information is available at <a href="http://www.microsoft.com/library/toolbar/3.0/trademarks/en-us.mspx">http://www.microsoft.com/library/toolbar/3.0/trademarks/en-us.mspx</a>. 
</p><p>Any rights not expressly granted herein are reserved.  
</p><div><a href="#top">Top of page</a> </div> <br><br> 
	
